<% if(success.length) { %> 
<div class="alert alert-success alert-dismissable d-flex" role="alert">
    <%= success %>
    <div class="ms-auto me-2"><a href="/checkout/cart" class="alert-link">Go to Cart</a></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %> 