<footer class="footer py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <ul class="">
                    <li class="fw-bold">Customer Care</li>
                    <li><a href="" class="nolink">Contact Us</a></li>
                    <li><a href="" class="nolink">Frequently asked questions</a></li>
                    <li><a href="" class="nolink">Warranty Policy</a></li>
                    <li><a href="" class="nolink">Returns and Exchange</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <ul class="">
                    <li class="fw-bold">Quick Links</li>
                    <li><a href="/tablets" class="nolink">Tablets</a></li>
                    <li><a href="/smartphones" class="nolink">Smartphones</a></li>
                    <li><a href="/laptops" class="nolink">Laptops</a></li>
                    <li><a href="/desktops" class="nolink">Desktops</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <ul class="">
                    <li class="fw-bold">Discover ShopIt</li>
                    <li><a href="" class="nolink">Terms and Conditions</a></li>
                    <li><a href="" class="nolink">Privacy Policy</a></li>
                    <li><a href="" class="nolink">About Us</a></li>
                    <li><a href="" class="nolink">Our Locations</a></li>
                </ul>
            </div>
        </div>
        
        
        
        <!-- <span class="text-secondary mx-auto">&copy;2021 ShopIt</span> -->
    </div>
</footer>
<footer class="py-3" style="background-color: #1f2d3d;">
    <div class="container d-flex">
        <div class="mx-auto">&copy; 2021 ShopIt. All Rights Reserved</div>
    </div>
</footer>