<% layout("layouts/boilerplate") %> 

<div class="row">
    <div class="col-sm-6 mx-auto text-center">
        <h1 class="fs-2">Order Confirmation</h1>
        <h2 class="fs-5">Order ID: #22194-651120</h2>
        <img src="https://www.creativefabrica.com/wp-content/uploads/2019/12/23/tick-mark-flat-icon-vector-Graphics-1.jpg" class="img-fluid " alt="">
        <h2 class="fs-3">Thank You!</h2>
        <h2 class="fs-5">Your order has been placed successfully</h2>
        <h2 class="fs-5">A confirmation E-mail has been sent.</h2>
        
    </div>
</div>